:root {
    --light-navy-color: #1e213a;
    --navy-color: #100e1d;
}


.search-nav{
    background-color: var(--light-navy-color);
    height: 100vh;
    max-width: 450px;
    padding: 4rem 1rem 1rem;
    position: fixed;
    width: 100%;
    transform: translate(-200%);
    transition: all .3s ease-in-out;
    z-index: 3;
}

.btn-close{
    align-items: center;
    display: flex;
    font-size: 3rem;
    height: 3rem;
    justify-content: center;
    padding: 0;
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    width: 3rem;
}

.search-form{
    margin-bottom: 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 1rem;
}

.input-container{
    flex: 1 1 auto;
    border: thin solid #fff;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    color: #fff;
}

.magnificer{
    margin-left: 5px;
    width: 20px;
    height: 20px;
}

input{
    background: transparent;
    border: none;
    outline: none;
    flex: 1 1 auto;
    padding: 0.75rem;
    color: #fff;
}

.search-results{
    color: #ccc;
    text-align: center;
    margin-top: 2rem;
}

.cityResult{
    font-size: 30px;
    font-weight: 300;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.activeSearch{
    transform: translate(0);
}




.sidebarContainer{
    background-color: var(--light-navy-color) ;
    color: #fff;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    overflow: hidden;
    text-align: center;
    position: sticky;
    top: 0;
    height: 100vh;
    max-height: 100vh;
}


@media only screen and (max-width: 800px) {
    .sidebarContainer{
        background-color: var(--light-navy-color) ;
        color: #fff;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        overflow: hidden;
        text-align: center;
        position: relative;
        top: 0;
        height: auto;
        max-height: 100vh;
    }
    .search-nav{
        width: 90%;
      
    }
}

.headerSidebar{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.btnAside{
    background: transparent;
    border: none;
    color: #e7e7eb;
    cursor: pointer;
    outline: none;
    padding: 0.5rem;
    transition: all .2s ease;
}

.btn-submit{
    background-color: #3c47e9;
    flex: 1 1 auto;
    padding: 1rem;
}

.btn-primary{
    background-color: #6e707a;
}

.btn-rounded{
    align-items: center;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    padding: 0.5rem;
    width: 25px;
    height: 25px;
    background-color: #6e707a;
}

.weather-status{
    flex: 0 1 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.img-bg{
    position: absolute;
    opacity: .25;
    left: 0;
    right: 0;
    width: 100%;
    pointer-events: none;
}

.w-icon{
    width: 125px;
}

.weather-info{
    padding: 1rem;
}

.temp{
    color: #e7e7eb;
    font-size: 8rem;
    font-weight: 500;
    margin: 0;
}

.current-condition{
    color: #a09fb1;
    margin: 0;
}

.current-location{
    color: #88869d;
}

.mapIcon{
    width: 25px;
    height: 25px;
}

.city{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
